.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* Ширина скроллбара */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* Цвет фона трека */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #888; /* Цвет ползунка */
  border-radius: 10px; /* Закругление углов ползунка */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555; /* Цвет ползунка при наведении */
}

/* Для Firefox */
.custom-scrollbar {
  scrollbar-width: thin; /* Тонкий скроллбар */
  scrollbar-color: #888 transparent; /* Цвет ползунка и фона трека */
}

.PopoverContent {
  box-shadow:
    hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
    hsl(206 22% 7% / 20%) 0px 10px 20px -15px;

  will-change: transform, opacity;
}
.PopoverArrow {
  fill: #f9fafb;
}
